{
  "plugins": [
    "node",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "node/exports-style": [
      "error",
      "module.exports"
    ]
  }
}
